<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>include({css/properties/$property_name/title})</title>
</head>
<body>
  <h1>include({css/properties/$property_name/title})</h1>
  <article id="main">
    <section id="summary">
      include({css/properties/$property_name/summary.html})
    </section>

    <section id="overview">
      include({css/properties/$property_name/overview.html})
    </section>

    <section id="syntax">
      include({css/properties/$property_name/syntax.html})
    </section>

    <section id="values">
      include({css/properties/$property_name/values.html})
    </section>

    <section id="examples">
      include({css/properties/$property_name/examples.html})
    </section>

    <section id="usage">
      include({css/properties/$property_name/usage.html})
    </section>

    <section id="specifications">
      include({css/properties/$property_name/specifications.html})
    </section>

    <section id="compatibility">
      include({css/properties/$property_name/compatibility.html})
    </section>
  </article>
</body>
</html>