<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{title}</title>
</head>
<body>
  <h1>{title}</h1>
  <article id="main">
    <section id="summary">
      {include("css/properties/" + propertyName + "/summary.html")})
    </section>

    <section id="overview">
      {include("css/properties/" + propertyName + "/overview.html")})
    </section>

    <section id="syntax">
      {include("css/properties/" + propertyName + "/syntax.html")})
    </section>

    <section id="values">
      {include("css/properties/" + propertyName + "/values.html")})
    </section>

    <section id="examples">
      {include("css/properties/" + propertyName + "/examples.html")})
    </section>

    <section id="usage">
      {include("css/properties/" + propertyName + "/usage.html")})
    </section>

    <section id="specifications">
      {include("css/properties/" + propertyName + "/specifications.html")})
    </section>

    <section id="compatibility">
      {include("css/properties/" + propertyName + "/compatibility.html")})
    </section>
  </article>
</body>
</html>