<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>include({css/properties/$property_name/title})</title>
</head>
<body>
  <h1>include({css/properties/$property_name/title})</h1>
  <article id="main">
    <section id="Summary">
      include({css/properties/$property_name/Summary})
    </section>

    <section id="Overview table">
      include({css/properties/$property_name/Overview table})
    </section>

    <section id="Syntax">
      include({css/properties/$property_name/Syntax})
    </section>

    <section id="Values">
      include({css/properties/$property_name/Values})
    </section>

    <section id="Examples">
      include({css/properties/$property_name/Examples})
    </section>

    <section id="Usage">
      include({css/properties/$property_name/Usage})
    </section>

    <section id="Specifications">
      include({css/properties/$property_name/Specifications})
    </section>

    <section id="Compatibility">
      include({css/properties/$property_name/Compatibility})
    </section>
  </article>
</body>
</html>